body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: blue;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

button {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #FFC107;
}
